<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="conta">
      <h2 data-cy="contaDetailsHeading"><span>Conta</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ conta.id }}</span>
        </dd>
        <dt><span>Nome</span></dt>
        <dd>
          <span>{{ conta.nome }}</span>
        </dd>
        <dt><span>Valor</span></dt>
        <dd>
          <span>{{ conta.valor }}</span>
        </dd>
        <dt><span>Venda</span></dt>
        <dd>
          <div *ngIf="conta.venda">
            <a [routerLink]="['/venda', conta.venda.id, 'view']">{{ conta.venda.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/conta', conta.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
